<%= form_for(@product_detail) do |f| %>
  <% if @product_detail.errors.any? %>
    <div id="error_explanation">
      <h2><%= pluralize(@product_detail.errors.count, "error") %> prohibited this product_detail from being saved:</h2>

      <ul>
      <% @product_detail.errors.full_messages.each do |message| %>
        <li><%= message %></li>
      <% end %>
      </ul>
    </div>
  <% end %>

  <div class="field">
    <%= f.label :product_id %><br>
    <%= f.text_field :product_id %>
  </div>
  <div class="field">
    <%= f.label :image_url %><br>
    <%= f.text_field :image_url %>
  </div>
  <div class="field">
    <%= f.label :long_description %><br>
    <%= f.text_area :long_description %>
  </div>
  <div class="field">
    <%= f.label :manufacturer %><br>
    <%= f.text_field :manufacturer %>
  </div>
  <div class="field">
    <%= f.label :country_of_origin %><br>
    <%= f.text_field :country_of_origin %>
  </div>
  <div class="field">
    <%= f.label :volume_in_liter %><br>
    <%= f.text_field :volume_in_liter %>
  </div>
  <div class="field">
    <%= f.label :alcohol_by_volume %><br>
    <%= f.text_field :alcohol_by_volume %>
  </div>
  <div class="field">
    <%= f.label :calories_in_kcal_per_100ml %><br>
    <%= f.text_field :calories_in_kcal_per_100ml %>
  </div>
  <div class="field">
    <%= f.label :grape_type %><br>
    <%= f.text_field :grape_type %>
  </div>
  <div class="actions">
    <%= f.submit %>
  </div>
<% end %>
