<%= form_for(@user) do |f| %>
  <% if @user.errors.any? %>
    <div id="error_explanation">
      <h2><%= pluralize(@user.errors.count, "error") %> prohibited this user from being saved:</h2>

      <ul>
      <% @user.errors.full_messages.each do |message| %>
        <li><%= message %></li>
      <% end %>
      </ul>
    </div>
  <% end %>

  <div class="field">
    <%= f.label :username %><br>
    <%= f.text_field :username %>
  </div>
  <div class="field">
    <%= f.label :password %><br>
    <%= f.password_field :password %>
  </div>
  <div class="field">
    <%= f.label :password_confirmation %><br>
    <%= f.password_field :password_confirmation %>
  </div>
  <div class="field">
    <%= f.label :role %><br>
    <%= f.select :role, ['admin', 'customer'],
                 prompt: 'Select a role' %>
  </div>

  <%= fields_for :customer, @user.customer do |customer| %>
    <div class="field">
      <%= customer.label :name %></br>
      <%= customer.text_field :name %>
    </div>
    <div class="field">
      <%= customer.label :address %></br>
      <%= customer.text_field :address %>
    </div>
    <div class="field">
      <%= customer.label :email %></br>
      <%= customer.text_field :email %>
    </div>
  <% end %>


  <div class="actions">
    <%= f.submit %>
  </div>
<% end %>
