<p id="notice"><%= notice %></p>
<div class="row">
  <div class="col-xs-offset-2 col-xs-8">
    <% if @product.detail %>
      <%= image_tag @product.detail.image_url, class: 'product_photo' %>
    <% end %>

    <h2 class="title"><%= @product.title %></h2>

    <h4 class="brief-description"><%= @product.description %></h4>

    <h3 class="price"> <%= number_to_currency @product.price, unit: '£' %> </h3>

    <%= form_tag line_items_path do %>
      <%= hidden_field_tag 'product_id', @product.id %>
      <%= label_tag 'quantity' %>
      <%= text_field_tag 'quantity', 1 %>
      <%= submit_tag 'Add to Cart', class: 'btn btn-primary' %>
    <% end %>
  </div>
</div>
<% if @product.detail %>
<div class="row">
  <div class="col-xs-offset-2 col-xs-8">
    <div class="details">
      <hr>
      <p><%= @product.detail.long_description %></p>
      <div class="col-xs-offset-3 col-xs-6">
        <dl class="dl-horizontal details_list">
          <dt>Manufacturer</dt>
          <dd><%= @product.detail.manufacturer %></dd>
          <dt>Country of origin</dt>
          <dd><%= @product.detail.country_of_origin %></dd>
          <dt>Volume in liter</dt>
          <dd><%= @product.detail.volume_in_liter %></dd>
          <dt>Alcohol by volume</dt>
          <dd><%= @product.detail.alcohol_by_volume %></dd>
          <dt>Galories(kcal/100ml)</dt>
          <dd><%= @product.detail.calories_in_kcal_per_100ml %></dd>
          <dt>Grape type</dt>
          <dd><%= @product.detail.grape_type %></dd>
        </dl>
      </div>
    </div>
  </div>
</div>
<% end %>
