<div class="container-fluid">
  <div id="columns">
    <div id="side">
      <div id="cart">
        <%= render @cart %>
      </div>
      <div id="categories">
        <h4>CATEGORIES</h4>
        <label>
          <input type="checkbox" value=""> Alcohol-Free Wines
        </label>
        <label>
          <input type="checkbox" value=""> Alcohol-Free Beers
        </label>
        <label>
          <input type="checkbox" value=""> Alcohol-Free Drinks
        </label>
        <label>
          <input type="checkbox" value=""> Other Products
        </label>
      </div>
    </div>
    <div id="main">
      <% if notice %>
      <div id="notice" class="alert alert-info alert-dismissible" role="alert">
        <button type="button" class="close" data-dismiss="alert" aria-label="Close"><span aria-hidden="true">&times;</span></button>
        <%= notice %>
      </div>
      <% end %>
      <p>Showing <%= @products.total_entries %> results</p>
      <div class="row">
        <% @products.each do |product| %>
        <div class="col-sm-12 col-md-6 col-lg-4">
          <div class="thumbnail product">
            <%= link_to image_tag(product.thumbnail_url), product_path(product.id) %>
            <div class="caption">
              <h4 class="title"><%= truncate product.title, length: 40 %></h4>
              <p class="description text-muted"><%= truncate sanitize(product.description), length: 90 %></p>
              <p>
                <span class="price pull-right"><%= number_to_currency product.price, unit: '£' %></span>
                <%= button_to 'Add to Cart', line_items_path(product_id: product.id, quantity: 1),
                              remote: true, class: 'btn btn-primary' %>
              </p>
            </div>
          </div>
        </div>
        <% end %>
        <%= will_paginate @products %>
      </div>
    </div>
  </div>
</div>
