<div class="container-fluid">
  <div id="columns">
    <div id="side">
      <div id="cart">
        <%= render @cart %>
      </div>
      <div id="categories">
        <h4>CATEGORIES</h4>
        <label>
          <input type="checkbox" value=""> Alcohol-Free Wines
        </label>
        <label>
          <input type="checkbox" value=""> Alcohol-Free Beers
        </label>
        <label>
          <input type="checkbox" value=""> Alcohol-Free Drinks
        </label>
        <label>
          <input type="checkbox" value=""> Other Products
        </label>
      </div>
      <div id="admin-session">`
        <% if session[:user_id] %>
          <ul>
            <li><%= link_to 'Orders',   orders_path %></li>
            <li><%= link_to 'Products', products_path %></li>
            <li><%= link_to 'Users',    users_path %></li>
          </ul>
          <%= button_to 'Logout', logout_path, method: :delete %>
        <% end %>
      </div>
    </div>
    <div id="main">
      <p id="notice"><%= notice %></p>

      <p>Showing <%= @products.size %> results</p>

      <% @products.each do |product| %>
        <div class="entry">
          <table class="table">
            <tbody>
              <tr>
                <td><%= link_to image_tag(product.image_url), product_path(product.id) %></td>
                <td><h3><%= product.title %></h3>
                <%= sanitize(product.description) %></td>
                <td>
                  <p class="price"><%= number_to_currency product.price, unit: '£' %></p>
                  <%= button_to 'Add to Cart',
                                line_items_path(product_id: product.id),
                                remote: true,
                                class: 'btn btn-default' %>
                </td>
              </tr>
            </tbody>
          </table>
        </div>
      <% end %>

    </div>
  </div>
</div>
